/* Styles go here */

body {
    font-family: sans-serif;
}

.wrapper {
    width: 70%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    font-size: 1.1rem;
}

.loading {
    width: 300px;
    height: 50px;
    border: 1px solid #000;
    margin: 8rem auto;
}

.loading .inner {
    width: 20%;
    height: 100%;
    background-color: #00F;
}

.loading:hover .inner {
    -webkit-animation: slide 2s infinite alternate;
    -webkit-animation: slide 2s infinite alternate;
    -moz-animation: slide 2s infinite alternate;
    -ms-animation: slide 2s infinite alternate;
    -o-animation: slide 2s infinite alternate;
    animation: slide 2s infinite alternate;
}

@-webkit-keyframes slide {
    0% {
        background-color: blue;
        margin-left: 0px;
    }
    20% {
        background-color: purple;
    }
    40% {
        background-color: red;
    }
    60% {
        background-color: orange;
    }
    0% {
        background-color: green;
        margin-left: 80%;
    }
}

@-moz-keyframes slide {
    0% {
        background-color: blue;
        margin-left: 0px;
    }
    20% {
        background-color: purple;
    }
    40% {
        background-color: red;
    }
    60% {
        background-color: orange;
    }
    0% {
        background-color: green;
        margin-left: 80%;
    }
}

@-ms-keyframes slide {
    0% {
        background-color: blue;
        margin-left: 0px;
    }
    20% {
        background-color: purple;
    }
    40% {
        background-color: red;
    }
    60% {
        background-color: orange;
    }
    0% {
        background-color: green;
        margin-left: 80%;
    }
}

@-o-keyframes slide {
    0% {
        background-color: blue;
        margin-left: 0px;
    }
    20% {
        background-color: purple;
    }
    40% {
        background-color: red;
    }
    60% {
        background-color: orange;
    }
    0% {
        background-color: green;
        margin-left: 80%;
    }
}

@keyframes slide {
    0% {
        background-color: blue;
        margin-left: 0px;
    }
    20% {
        background-color: purple;
    }
    40% {
        background-color: red;
    }
    60% {
        background-color: orange;
    }
    0% {
        background-color: green;
        margin-left: 80%;
    }
}

.round {
    width: 300px;
    height: 300px;
    border: 3px solid black;
    border-radius: 50%;
    margin-top: 30px;
    margin-left: -130px;
    position: relative;
    z-index: 9999;
    background-color: lightblue;
}

.middle {
    width: 30px;
    height: 30px;
    border: 3px solid black;
    background-color: red;
    border-radius: 50%;
    top: 300px;
    left: 300px;
    position: absolute;
}

.middle:hover .round {
    -webkit-animation: rotate 10s infinite;
    -moz-animation: rotate 10s infinite;
    -ms-animation: rotate 10s infinite;
    -o-animation: rotate 10s infinite;
    animation: rotate 10s infinite;
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-animation: rotate(360deg);
    -o-animation: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transform-origin: 50%, 50%;
    -moz-transform-origin: 50%, 50%;
    -ms-transform-origin: 50%, 50%;
    -o-transform-origin: 50%, 50%;
    transform-origin: 50%, 50%;
}

@-webkit-keyframes rotate {
    0% {
        top: 0px;
        left: 0px;
        background-color: lightblue;
    }
    25% {
        top: -165px;
        left: 165px;
        background-color: orange;
    }
    50% {
        top: -335px;
        left: 0px;
        background-color: green;
    }
    75% {
        top: -165px;
        left: -175px;
        background-color: yellow;
    }
    100% {
        top: 0px;
        left: 0px;
        background-color: lightblue;
    }
}

@-moz-keyframes rotate {
    0% {
        top: 0px;
        left: 0px;
        background-color: lightblue;
    }
    25% {
        top: -165px;
        left: 165px;
        background-color: orange;
    }
    50% {
        top: -335px;
        left: 0px;
        background-color: green;
    }
    75% {
        top: -165px;
        left: -175px;
        background-color: yellow;
    }
    100% {
        top: 0px;
        left: 0px;
        background-color: lightblue;
    }
}

@-ms-keyframes rotate {
    0% {
        top: 0px;
        left: 0px;
        background-color: lightblue;
    }
    25% {
        top: -165px;
        left: 165px;
        background-color: orange;
    }
    50% {
        top: -335px;
        left: 0px;
        background-color: green;
    }
    75% {
        top: -165px;
        left: -175px;
        background-color: yellow;
    }
    100% {
        top: 0px;
        left: 0px;
        background-color: lightblue;
    }
}

@-o-keyframes rotate {
    0% {
        top: 0px;
        left: 0px;
        background-color: lightblue;
    }
    25% {
        top: -165px;
        left: 165px;
        background-color: orange;
    }
    50% {
        top: -335px;
        left: 0px;
        background-color: green;
    }
    75% {
        top: -165px;
        left: -175px;
        background-color: yellow;
    }
    100% {
        top: 0px;
        left: 0px;
        background-color: lightblue;
    }
}

@keyframes rotate {
    0% {
        top: 0px;
        left: 0px;
        background-color: lightblue;
    }
    25% {
        top: -165px;
        left: 165px;
        background-color: orange;
    }
    50% {
        top: -335px;
        left: 0px;
        background-color: green;
    }
    75% {
        top: -165px;
        left: -175px;
        background-color: yellow;
    }
    100% {
        top: 0px;
        left: 0px;
        background-color: lightblue;
    }
}
