/* More details about CSS3 animations and compatibility can be found here http://www.w3schools.com/css/css3_animations.asp */


/* -------------------------------------
CSS reset
(all the browsers will see the website in the same by setting every tag to 0 (the website will look the same on all browsers))
*/

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    /*The box-sizing property is used to tell the browser what the sizing properties (width and height) should include border-box.*/
    box-sizing: border-box;
    /*reset Chrome user agent styles*/
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-before: 0px;
    -webkit-padding-after: 0px;
    -webkit-padding-start: 0px;
    -webkit-padding-end: 0px;
}

body {
    font-family: sans-serif;
    font-size: 20px;
}

.wrapper {
    width: 70%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

h2 {
    font-size: 1.5rem;
}


/*
--------------------------------------------------------------------------------------
starting the slide animation
*/

.slider-wrapper {
    width: 300px;
    height: 50px;
    border: 1px solid #000;
    margin: 8rem auto;
}

.slider-wrapper .slider-inner-square {
    width: 20%;
    height: 100%;
    background-color: #00F;
}


/* The element to apply the animation to
(the animation TRIGER) */

.slider-wrapper:hover .slider-inner-square {
    /* The animation SETTINGS */
    /*Safari / Chrome compatibility*/
    -webkit-animation: slide 2s infinite alternate;
    /*Firefox compatibility*/
    -moz-animation: slide 2s infinite alternate;
    /*Internet Explorer compatibility*/
    -ms-animation: slide 2s infinite alternate;
    /*Opera compatibility*/
    -o-animation: slide 2s infinite alternate;
    animation: slide 2s infinite alternate;
}


/* The animation code (definind the START, the END and any of the MIDDLE points) */


/*Safari / Chrome compatibility*/

@-webkit-keyframes slide {
    0% {
        background-color: blue;
        margin-left: 0px;
    }
    25% {
        background-color: purple;
    }
    50% {
        background-color: red;
    }
    75% {
        background-color: orange;
    }
    100% {
        background-color: green;
        margin-left: 80%;
    }
}


/*Firefox compatibility*/

@-moz-keyframes slide {
    0% {
        background-color: blue;
        margin-left: 0px;
    }
    25% {
        background-color: purple;
    }
    50% {
        background-color: red;
    }
    75% {
        background-color: orange;
    }
    100% {
        background-color: green;
        margin-left: 80%;
    }
}


/*Internet Explorer compatibility*/

@-ms-keyframes slide {
    0% {
        background-color: blue;
        margin-left: 0px;
    }
    25% {
        background-color: purple;
    }
    50% {
        background-color: red;
    }
    75% {
        background-color: orange;
    }
    100% {
        background-color: green;
        margin-left: 80%;
    }
}


/*Opera compatibility*/

@-o-keyframes slide {
    0% {
        background-color: blue;
        margin-left: 0px;
    }
    25% {
        background-color: purple;
    }
    50% {
        background-color: red;
    }
    75% {
        background-color: orange;
    }
    100% {
        background-color: green;
        margin-left: 80%;
    }
}

@keyframes slide {
    0% {
        background-color: blue;
        margin-left: 0px;
    }
    25% {
        background-color: purple;
    }
    50% {
        background-color: red;
    }
    75% {
        background-color: orange;
    }
    100% {
        background-color: green;
        margin-left: 80%;
    }
}


/*
--------------------------------------------------------------------------------------
starting the circular animation
*/

.outer-big-circle {
    width: 300px;
    height: 300px;
    border: 3px dashed black;
    border-radius: 50%;
    position: relative;
    z-index: 9999;
    top: 100px;
    left: -115px;
    background-color: lightblue;
}

.inner-small-circle {
    width: 30px;
    height: 30px;
    border: 3px solid black;
    background-color: red;
    border-radius: 50%;
    margin-top: 20%;
    left: 50%;
    position: relative;
}


/* The element to apply the animation to
(the animation TRIGER) */

.inner-small-circle:hover .outer-big-circle {
    /* The animation SETTINGS */
    /*Safari / Chrome compatibility*/
    -webkit-animation: rotate 10s infinite;
    /*Firefox compatibility*/
    -moz-animation: rotate 10s infinite;
    /*Internet Explorer compatibility*/
    -ms-animation: rotate 10s infinite;
    /*Opera compatibility*/
    -o-animation: rotate 10s infinite;
    animation: rotate 10s infinite;
    /*Safari / Chrome compatibility*/
    -webkit-transform: rotate(90deg);
    /*Firefox compatibility*/
    -moz-transform: rotate(90deg);
    /*Internet Explorer compatibility*/
    -ms-animation: rotate(90deg);
    /*Opera compatibility*/
    -o-animation: rotate(90deg);
    transform: rotate(90deg);
    /*Safari / Chrome compatibility*/
    -webkit-transform-origin: 50%, 50%;
    /*Firefox compatibility*/
    -moz-transform-origin: 50%, 50%;
    /*Internet Explorer compatibility*/
    -ms-transform-origin: 50%, 50%;
    /*Opera compatibility*/
    -o-transform-origin: 50%, 50%;
    transform-origin: 50%, 50%;
}


/* The animation code (definind the START, the END and any of the MIDDLE points) */


/*Safari / Chrome compatibility*/

@-webkit-keyframes rotate {
    0% {
        top: 100px;
        left: -115px;
        background-color: lightblue;
    }
    25% {
        top: -135px;
        left: 155px;
        background-color: orange;
    }
    50% {
        top: -400px;
        left: -125px;
        background-color: green;
    }
    75% {
        top: -125px;
        left: -400px;
        background-color: yellow;
    }
    100% {
        top: 100px;
        left: -115px;
        background-color: lightblue;
    }
}


/*Firefox compatibility*/

@-moz-keyframes rotate {
    0% {
        top: 100px;
        left: -115px;
        background-color: lightblue;
    }
    25% {
        top: -135px;
        left: 155px;
        background-color: orange;
    }
    50% {
        top: -400px;
        left: -125px;
        background-color: green;
    }
    75% {
        top: -125px;
        left: -400px;
        background-color: yellow;
    }
    100% {
        top: 100px;
        left: -115px;
        background-color: lightblue;
    }
}


/*Internet Explorer compatibility*/

@-ms-keyframes rotate {
    0% {
        top: 100px;
        left: -115px;
        background-color: lightblue;
    }
    25% {
        top: -135px;
        left: 155px;
        background-color: orange;
    }
    50% {
        top: -400px;
        left: -125px;
        background-color: green;
    }
    75% {
        top: -125px;
        left: -400px;
        background-color: yellow;
    }
    100% {
        top: 100px;
        left: -115px;
        background-color: lightblue;
    }
}


/*Opera compatibility*/

@-o-keyframes rotate {
    0% {
        top: 100px;
        left: -115px;
        background-color: lightblue;
    }
    25% {
        top: -135px;
        left: 155px;
        background-color: orange;
    }
    50% {
        top: -400px;
        left: -125px;
        background-color: green;
    }
    75% {
        top: -125px;
        left: -400px;
        background-color: yellow;
    }
    100% {
        top: 100px;
        left: -115px;
        background-color: lightblue;
    }
}

@keyframes rotate {
    0% {
        top: 100px;
        left: -115px;
        background-color: lightblue;
    }
    25% {
        top: -135px;
        left: 155px;
        background-color: orange;
    }
    50% {
        top: -400px;
        left: -125px;
        background-color: green;
    }
    75% {
        top: -125px;
        left: -400px;
        background-color: yellow;
    }
    100% {
        top: 100px;
        left: -115px;
        background-color: lightblue;
    }
}
